<html>
    <head>
        <title>Colleen's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Colleen</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Blah blah blah</a></h2>
            <p>Aeblah blah blah.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Ablah blah blah.</p>
        </div>
    </body>
</html>